<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank App</title>
        <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h2>Welcome to Bravo Bank App</h2>
    <ul>
        <li><a href="/create_user">Create User</a></li>
        <li><a href="/sign_in_user">Sign In User</a></li>
        <li><a href="/view_users">View Users</a></li>
        <li><a href="/update_user">Update User</a></li>
        <li><a href="/delete_user">Delete User</a></li>
    </ul>
</body>
</html>
